body {
    text-align: center;
    background-color:#dee3e3;
    font-family:'Arial';
    font-size: x-large;
    color:rgb(50, 44, 44);
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.heading {
    font-family:'Gentona';
    color:rgb(0, 0, 0);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}